.button {
  width: 225px;
  height: 50px;
  border-radius: 8px;
  background-color: transparent;
  border: 5px var(--color-red) solid;
  font-size: 1.25rem;
  font-weight: bold;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-red);
  transition: 0.25s ease-out;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}
